director = "io"
template = "honeytrap"
token = "433UI-56JK-3433NJ-KI954"

[director_config]
service_addr = "http://api.honeytrap.com/pixi:4060"

[[director_config.commands]]
name = "echo"
level = 2
args = ["hello"]

[[director_config.commands]]
name = "echo"
level = 3
args = ["world!"]


[canary]
interfaces = ["ens160"]

[delays]
push_every = "10s"
freeze_every = "10s"
stop_every = "30s"

[backend."api"]
backend = "honeytrap"
host = "http://api.honeytrap.io/"
token = "{fillmein}"

[backend."file"]
backend = "file"
file = "honeytrap.log"
ms = "50s"
max_size = 3000

[backend."alerts"]
backend = "slack"
webhook_url = "https://hooks.slack.com/services/{fillmein}"
username = "{fillmein}"
icon_url = "{fillmein}"
icon_emoji = "{fillmein}"

[[channel]]
backends = ["alerts", "file"]
sensors = ["sessions-start", "containers-open"]
categories = ["sessions", "containers", "attackers"]
events = ["new_session", "connection-open", "connection-closed"]

[[channel]]
backends = ["api"]
categories = ["sessions", "containers"]
sensors = ["sessions-start", "containers-open"]
events = ["connection-open", "connection-closed"]

[housekeeper]
every = "10s"

[[services]]
service = "http"
enabled = "true"
port = ":8080"

[[services]]
service = "ssh"
port = ":8022"
banner = "SSH-2.0-OpenSSH_6.6.1p1 2020Ubuntu-2ubuntu2"
#key = "./perm/perms"

[[logging]]
output = "stdout"
level = "debug"
